In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv("Test.csv")
train = pd.read_csv("Train.csv")
var_used = pd.read_csv("VariablesUsed.csv")

In [3]:
train['MRP'] = pd.to_datetime(train['MRP'], format='%m/%d/%Y')
train["MRP_year"] = train["MRP"].apply(lambda x:x.year)
train["MRP_month"] = train["MRP"].apply(lambda x:x.month)
train["MRP_day"] = train["MRP"].apply(lambda x:x.day)
print(train.MRP_year.unique(), train.MRP_month.unique(), train.MRP_day.unique())

[2000] [3 2 1] [1]

In [4]:
train.drop(["MRP","MRP_year","MRP_day"],axis=1,inplace=True)

In [5]:
train['ODATE'] = pd.to_datetime(train['ODATE'], format='%m/%d/%Y')
train["ODATE_year"] = train["ODATE"].apply(lambda x:x.year)
train["ODATE_month"] = train["ODATE"].apply(lambda x:x.month)
train["ODATE_day"] = train["ODATE"].apply(lambda x:x.day)
print(train.ODATE_year.unique(), train.ODATE_month.unique(), train.ODATE_day.unique())

[1999 2000] [ 7 12  1 11  2  9  3 10  6  5  8  4] [1]

In [6]:
train.drop(["ODATE","ODATE_day"],axis=1,inplace=True)

In [7]:
train['FPD'] = pd.to_datetime(train['FPD'], format='%m/%d/%Y')
train["FPD_year"] = train["FPD"].apply(lambda x:x.year)
train["FPD_month"] = train["FPD"].apply(lambda x:x.month)
train["FPD_day"] = train["FPD"].apply(lambda x:x.day)
print(train.FPD_year.unique(), train.FPD_month.unique(), train.FPD_day.unique())

[1999 2000] [ 9  2  3  1  4 11 12  5  7  8 10  6] [1]

In [8]:
train.drop(["FPD","FPD_day"],axis=1,inplace=True)

In [9]:
train.isna().sum()

LID                 0
CHANNEL             0
SELLER              0
ORATE               0
CRATE               0
OUPB                0
OLTERM              0
LA                  0
TMTLM               0
RMTM                0
MDATE               0
LOTV                1
CLTV           163905
NB                198
DTI              6998
BCSAO            3981
CBCSAO          82221
FTHBI             218
LP                  0
PTYPE               0
NUNITS              0
OCCSTAT             0
STATE               0
MSA                 0
ZIP                 0
MIP            110261
CLDS                0
MIT            110261
RMI                 0
FORECLOSED          0
NMONTHS             0
MRP_month           0
ODATE_year          0
ODATE_month         0
FPD_year            0
FPD_month           0
dtype: int64

In [10]:
NANCol = []
for col in train:
    if train[col].isna().any():
        NANCol.append(col)
print(NANCol)
for name in NANCol:
    print(train[name].dtypes)

['LOTV', 'CLTV', 'NB', 'DTI', 'BCSAO', 'CBCSAO', 'FTHBI', 'MIP', 'MIT']
float64
float64
float64
float64
float64
float64
object
float64
float64

In [11]:
DicFill = {
    'LOTV'  : train['LOTV'].median(skipna=True),
    'CLTV'  : train['CLTV'].median(skipna=True), 
    'NB'    : train['NB'].median(skipna=True), 
    'DTI'   : train['DTI'].median(skipna=True), 
    'BCSAO' : train['BCSAO'].median(skipna=True), 
    'CBCSAO': train['CBCSAO'].median(skipna=True), 
    'FTHBI' : train['FTHBI'].value_counts().index[0], 
    'MIP'   : train['MIP'].median(skipna=True), 
    'MIT'   : train['MIT'].median(skipna=True),
}

In [12]:
train['FORECLOSED'] = train['FORECLOSED'].replace(True,1)
train['FORECLOSED'] = train['FORECLOSED'].replace(False,0)

In [13]:
train.fillna(DicFill, inplace = True)
print(train['FORECLOSED'].value_counts())
train

0    162328
1      2247
Name: FORECLOSED, dtype: int64

,LID,CHANNEL,SELLER,ORATE,CRATE,OUPB,OLTERM,LA,TMTLM,RMTM,...,CLDS,MIT,RMI,FORECLOSED,NMONTHS,MRP_month,ODATE_year,ODATE_month,FPD_year,FPD_month
0,8.118470e+11,C,Suntrust Mortgage Inc.,8.375,8.375,58000,360,7,353,353,...,0,1.0,N,0,12,3,1999,7,1999,9
1,9.288980e+11,C,Amtrust Bank,7.500,7.500,204000,180,1,179,179,...,0,1.0,N,0,21,2,1999,12,2000,2
2,2.229740e+11,C,"Jpmorgan Chase Bank, Na",7.750,7.750,181000,360,0,360,360,...,0,1.0,N,0,54,1,1999,12,2000,2
3,5.939500e+11,B,"Bank Of America, N.A.",8.625,8.625,135000,360,0,360,359,...,0,2.0,N,0,16,2,2000,1,2000,3
4,6.773390e+11,C,Other,7.750,7.750,189000,360,1,359,359,...,0,1.0,N,0,14,2,1999,12,2000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164570,8.194500e+11,C,Amtrust Bank,7.875,7.875,106000,180,2,178,178,...,0,1.0,N,0,24,2,1999,11,2000,1
164571,6.558220e+11,R,"Jpmorgan Chase Bank, Na",8.000,8.000,144000,180,0,180,180,...,0,1.0,N,0,19,3,2000,2,2000,4
164572,6.577330e+11,R,First Tennessee Bank National Association,8.250,8.250,88000,360,1,359,358,...,0,1.0,N,0,12,3,2000,2,2000,3
164573,3.145290e+11,R,"Ge Mortgage Services, Llc",7.875,7.875,99000,240,2,238,237,...,0,1.0,N,0,217,1,1999,10,1999,12
164574,8.571750e+11,R,Rbc Mortgage Company,7.750,7.750,132000,360,0,360,360,...,0,1.0,N,0,35,1,1999,12,2000,2

In [14]:
train.reset_index(drop=True, inplace=True)

In [15]:
LP_U = train[train.LP == 'U']
LP_U

,LID,CHANNEL,SELLER,ORATE,CRATE,OUPB,OLTERM,LA,TMTLM,RMTM,...,CLDS,MIT,RMI,FORECLOSED,NMONTHS,MRP_month,ODATE_year,ODATE_month,FPD_year,FPD_month
98094,9.953800e+11,R,Other,8.125,8.125,253000,180,0,180,180,...,0,1.0,N,0,15,3,2000,2,2000,4

In [16]:
from imblearn.over_sampling import RandomOverSampler

X = train.drop('FORECLOSED', axis=1)
y = train['FORECLOSED']
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X, y)
X_resampled['FORECLOSED'] = y_resampled
train_new = X_resampled

In [17]:
# train["lNMONTHS"]=train.NMONTHS.apply(np.log)
N=train_new.shape[0]
perm=np.random.permutation(range(N))
train_new=train_new.loc[perm]
Ntrain=int(.8*N)
Ntest=N-Ntrain
train_train=train_new.iloc[0:Ntrain]
train_test=train_new.iloc[Ntrain:N]

In [18]:
train_test = pd.concat([train_test, LP_U], axis=0)
train_test.reset_index(inplace=True)

In [19]:
from pandas.api.types import is_numeric_dtype
NumCol = []
NonNumcol = []
for col in train:
    if is_numeric_dtype(train[col]):
        NumCol.append(col)
    else:
        NonNumcol.append(col)
print(NumCol)

['LID', 'ORATE', 'CRATE', 'OUPB', 'OLTERM', 'LA', 'TMTLM', 'RMTM', 'MDATE', 'LOTV', 'CLTV', 'NB', 'DTI', 'BCSAO', 'CBCSAO', 'NUNITS', 'MSA', 'ZIP', 'MIP', 'CLDS', 'MIT', 'FORECLOSED', 'NMONTHS', 'MRP_month', 'ODATE_year', 'ODATE_month', 'FPD_year', 'FPD_month']

In [20]:
import patsy as ps
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler

formula="FORECLOSED~CHANNEL+SELLER+FTHBI+LP+PTYPE+OCCSTAT+STATE+RMI+ORATE+CRATE+np.log(OUPB)+OLTERM+RMTM+LOTV+NB+DTI+BCSAO+CBCSAO+ODATE_month"
Ytrain_train,Xtrain_train=ps.dmatrices(formula,train_train)
Ytrain_test,Xtrain_test=ps.dmatrices(formula,train_test)
Logreg = LogisticRegression(solver = "newton-cg", max_iter=1000).fit(Xtrain_train,Ytrain_train.ravel())
Logreg.score(Xtrain_test,Ytrain_test)

D:\Anaconda\envs\CAMenv\lib\site-packages\scipy\optimize\_linesearch.py:415: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
D:\Anaconda\envs\CAMenv\lib\site-packages\scipy\optimize\_linesearch.py:305: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
D:\Anaconda\envs\CAMenv\lib\site-packages\sklearn\utils\optimize.py:203: UserWarning: Line Search failed
  warnings.warn("Line Search failed")

0.7809126330217301

In [21]:
test['MRP'] = pd.to_datetime(test['MRP'], format='%m/%d/%Y')
test["MRP_year"] = test["MRP"].apply(lambda x:x.year)
test["MRP_month"] = test["MRP"].apply(lambda x:x.month)
test["MRP_day"] = test["MRP"].apply(lambda x:x.day)
print(test.MRP_year.unique(), test.MRP_month.unique(), test.MRP_day.unique())

[2000] [3 1 2] [1]

In [22]:
test.drop(["MRP","MRP_year","MRP_day"],axis=1,inplace=True)

In [23]:
test['ODATE'] = pd.to_datetime(test['ODATE'], format='%m/%d/%Y')
test["ODATE_year"] = test["ODATE"].apply(lambda x:x.year)
test["ODATE_month"] = test["ODATE"].apply(lambda x:x.month)
test["ODATE_day"] = test["ODATE"].apply(lambda x:x.day)
print(test.ODATE_year.unique(), test.ODATE_month.unique(), test.ODATE_day.unique())

[2000 1999] [ 2 11  1 12  9 10  3  7  8  5  6  4] [1]

In [24]:
test.drop(["ODATE","ODATE_day"],axis=1,inplace=True)

In [25]:
test['FPD'] = pd.to_datetime(test['FPD'], format='%m/%d/%Y')
test["FPD_year"] = test["FPD"].apply(lambda x:x.year)
test["FPD_month"] = test["FPD"].apply(lambda x:x.month)
test["FPD_day"] = test["FPD"].apply(lambda x:x.day)
print(test.FPD_year.unique(), test.FPD_month.unique(), test.FPD_day.unique())

[2000 1999] [ 4  1  3  2 10 12  5 11  9  7  8  6] [1]

In [26]:
test.drop(["FPD","FPD_day"],axis=1,inplace=True)

In [27]:
test.isna().sum()

LID                0
CHANNEL            0
SELLER             0
ORATE              0
CRATE              0
OUPB               0
OLTERM             0
LA                 0
TMTLM              0
RMTM               0
MDATE              0
LOTV               1
CLTV           81979
NB                97
DTI             3533
BCSAO           1943
CBCSAO         41308
FTHBI            113
LP                 0
PTYPE              0
NUNITS             0
OCCSTAT            0
STATE              0
MSA                0
ZIP                0
MIP            54786
CLDS               0
MIT            54786
RMI                0
MRP_month          0
ODATE_year         0
ODATE_month        0
FPD_year           0
FPD_month          0
dtype: int64

In [28]:
NANCol_test = []
for col in test:
    if test[col].isna().any():
        NANCol_test.append(col)
print(NANCol_test)
for name in NANCol_test:
    print(test[name].dtypes)

['LOTV', 'CLTV', 'NB', 'DTI', 'BCSAO', 'CBCSAO', 'FTHBI', 'MIP', 'MIT']
float64
float64
float64
float64
float64
float64
object
float64
float64

In [29]:
DicFill_test = {
    'LOTV'  : test['LOTV'].median(skipna=True),
    'CLTV'  : test['CLTV'].median(skipna=True), 
    'NB'    : test['NB'].median(skipna=True), 
    'DTI'   : test['DTI'].median(skipna=True), 
    'BCSAO' : test['BCSAO'].median(skipna=True), 
    'CBCSAO': test['CBCSAO'].median(skipna=True), 
    'FTHBI' : test['FTHBI'].value_counts().index[0], 
    'MIP'   : test['MIP'].median(skipna=True), 
    'MIT'   : test['MIT'].median(skipna=True),
}

In [30]:
test.fillna(DicFill_test, inplace = True)
test

,LID,CHANNEL,SELLER,ORATE,CRATE,OUPB,OLTERM,LA,TMTLM,RMTM,...,ZIP,MIP,CLDS,MIT,RMI,MRP_month,ODATE_year,ODATE_month,FPD_year,FPD_month
0,7.940000e+11,R,"Gmac Mortgage, Llc",8.625,8.625,111000,360,0,360,360,...,484,25.0,0,1.0,N,3,2000,2,2000,4
1,2.770000e+11,C,"Citimortgage, Inc.",8.250,8.250,105000,360,1,359,357,...,684,17.0,0,1.0,N,1,1999,11,2000,1
2,5.070000e+11,R,Other,7.375,7.375,130000,180,1,179,179,...,679,25.0,0,1.0,N,1,1999,11,2000,1
3,4.930000e+11,B,"Jpmorgan Chase Bank, Na",8.500,8.500,58000,180,1,179,178,...,770,25.0,0,1.0,N,3,2000,1,2000,3
4,8.430000e+11,C,Netbank Funding Services,7.875,7.875,170000,360,0,360,360,...,606,25.0,0,1.0,N,2,2000,1,2000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82283,6.120000e+11,B,"Jpmorgan Chase Bank, Na",7.250,7.250,35000,180,0,180,179,...,800,25.0,0,1.0,N,3,2000,2,2000,4
82284,3.040000e+11,R,Other,9.000,9.000,18000,360,1,359,354,...,620,25.0,0,1.0,N,1,1999,11,2000,1
82285,7.180000e+11,B,Other,8.250,8.250,225000,360,0,360,360,...,930,25.0,0,1.0,N,3,2000,2,2000,4
82286,6.150000e+11,R,"Jpmorgan Chase Bank, Na",7.875,7.875,110000,180,0,180,180,...,550,25.0,0,1.0,N,2,2000,1,2000,3
82287,1.080000e+11,R,Bishops Gate Residential Mortgage Trust,7.625,7.625,133000,360,0,360,359,...,681,25.0,0,1.0,N,1,1999,12,2000,2

In [31]:
# Create new dataframe with prediction on prob
test['FORECLOSED'] = ''
Ytest,Xtest=ps.dmatrices(formula,test)
pred_foreclosed_test_prob = Logreg.predict_proba(Xtest)[:,1] # Prob of True
foreclosed_indexed_prob = pd.DataFrame(pred_foreclosed_test_prob, columns = ['Prob of True'])
# Sort and add column of Prediction
foreclosed_indexed_prob = foreclosed_indexed_prob.sort_values(by='Prob of True', ascending=False)
# Set the first 1k largest prob to True
def setTrue(i):
    if i < 1000:
        return True
    return False
foreclosed_indexed_prob.insert(1, 'FORECLOSED', [setTrue(i) for i in range(len(foreclosed_indexed_prob['Prob of True']))])
# Sort by index
foreclosed_indexed_prob = foreclosed_indexed_prob.sort_index(ascending=True)
# Drop prob
foreclosed_indexed_prob = foreclosed_indexed_prob.drop(columns=['Prob of True'])
# Combine LID
foreclosed_indexed_prob.insert(0, 'LID', test['LID'])

print(foreclosed_indexed_prob['FORECLOSED'].value_counts())
foreclosed_indexed_prob

False    81288
True      1000
Name: FORECLOSED, dtype: int64

                LID  FORECLOSED
0      7.940000e+11       False
1      2.770000e+11       False
2      5.070000e+11       False
3      4.930000e+11       False
4      8.430000e+11       False
...             ...         ...
82283  6.120000e+11       False
82284  3.040000e+11       False
82285  7.180000e+11       False
82286  6.150000e+11       False
82287  1.080000e+11       False

[82288 rows x 2 columns]

In [32]:
foreclosed_indexed_prob.to_csv('FORECLOSURE.csv', index=False)

In [33]:
foreclosed_indexed_prob['LID'].equals(test['LID'])

True